.moveableSquare {
  background: red;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveableSquare:hover {
  border: 10px solid salmon;
  height: 40px;
  width: 40px;
}
