.joinGameButton {
  font-family: "Cinzel", serif;
  background-color: transparent;
  color: #c8892a;
  font-weight: 600;
  border-radius: 2px;
  border: 1px solid #c8892a;
  box-shadow: 0 0 20px rbga(200, 137 42, 0.1);
}
